<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<UserSettings>
  <loadGame>
    <value>false</value>
  </loadGame>
  <compression>
    <value>false</value>
  </compression>
  <gameLocation>
    <value>C:\Program Files (x86)\Steam\steamapps\common\Rugby League Live 4\</value>
  </gameLocation>
</UserSettings>